/*
 * Common stylesheet for Edgewall web pages
 * Daniel Lundin <daniel@edgewall.com>
 *
 */

body { 
 font: small Verdana,Helvetica,sans-serif;
}

p { 
 margin-top: 0;
 margin-bottom: 1em;
 line-height: 145%;
}

.right {
 text-align: right;
}

:link, :visited {
 color: #5e594d;
 text-decoration: none;
 border-bottom: 1px dotted #ccc;
 padding-bottom: 1px;
}

html > body :link, html > body :visited {
 border-bottom: 1px dotted #caa57b;
 background: transparent;
}


:link:hover, :visited:hover {
 color: #c00;
 border-bottom: 1px solid #c00;
}

hr {
 border: none;
 border-top: 1px solid #ddd;
 margin: 2em;
}

h1, h2 {
 font-family: helvetica, arial, verdana, "trebuchet ms", sans-serif;
}

h1 {
 font-size: 250%;
 font-weight: bold;
 font-style: normal;
 color: #666;
 letter-spacing: -2px;
 margin: 0;
 padding: 0;
 margin-bottom: .25em;
 font-family: tahoma,Verdana,Helvetica,Sans-Serif;
}

h2 {
// font-size: 20px;
 font-size: 150%;
 font-weight: bold;
 color: #555;
}

img.noborder {
 border: none;
}

img {
 border: 1px solid #ddd;
 background: #fff;
 padding: 3px;
}

ul {
 list-style-type: square;
}

li {
 margin-left: 0;
}


a.anon { 
 border: none !important;
}

a.next:after { 
 content: "\2192";
 color: #c99;
 padding-left: 4px;
}

a.previous:before { 
 content: "\2190";
 color: #c99;
 padding-right: 4px;
}

blockquote {
 color: #666;
 margin: .5em;
 font-size: x-small;
}



ul.extlinks { 
 list-style: none;
 margin: 0 !important;
 padding: 0 !important;
}

ul.extlinks li{
 padding-left: 20px;
 background: url('../images/li_extlink.gif') left center no-repeat !important;
}


/* Vertical list, no bullets */
ul.nobullets { 
 display: block;
 border: none;
 margin: 0;
 padding: 0;
 list-style-type: none;
 clear: both;
 line-height: 100%;
}

ul.nobullets li { 
 margin: 0;
 padding: 0;
}

/* Horizontal list layout, no bullets */

.hlist ul { 
 display: block;
 float: left;
 border: none;
 margin: 0;
 padding: 0;
 list-style-type: none;
 clear: both;
 }
.hlist li {
 display: block;
 float: left;
 margin: 0;
 padding: 0;
}


.clear {
 clear: both;
 height: 1px;
}


blockquote.breakout {
 background: #ffe;
 float: right;
 border: 1px solid #ddb;
 padding: 1em;
 margin: 1em;
 width: 160px;
 font-size: 100%;
}

blockquote.breakout div {
 text-align: right;
 margin-top: 1em;
}

.hl {
 background: #ffd;
}

#date {
 font-size: 10px;
 color: #aaa;
}

