body {
  font-family: Verdana, Arial, sans-serif;
}

#header {
  clear: both;
  width: 720px;
  height: 65px;
  text-align: left;
  background: url(../images/header.png) repeat-y;
}

#mainnav {
  clear: both;
  width: 720px;
  height: 43px;
  background: url(../images/navbar.jpg) repeat-y;
}

#quicknav {
  display: inline;
  vertical-align: top;
  text-align: right;
  padding-right: 20px; 
  padding-top: 10px; 
  font-size: 10px;
}

#quicknav a {
  color: #666;
  text-decoration: none;
}

#quicknav a:visited {
  color: #666;
  text-decoration: none;
}

#quicknav a:hover {
  color: #9c3;
  text-decoration: underline;
}

#main {
  clear: both;
  width: 720px;
  background: url(../images/content-background.png) repeat-y;
}

#left {
 width: 150px;
 margin-left: 20px;
 display: inline;
 font-size: small;
}

#content {
 display: inline;
 padding: 20px;
 margin: 15px 90px 0 150px;
 text-align: left;
}

#footernav {
  margin-left: 15px;
  margin-right: 15px;
  clear: both;
  width: 720px;
  height: 35px;
  background: url(../images/content-background.png);
  font-size: 10px;
  color: #666;
  text-align: center;
}

#footer {
  clear: both;
  width: 720px;
  height: 35px;
  background: url(../images/footer-background.png);
  font-size: 10px;
  color: #666;
  text-align: center;
}

.block {
  padding-top: 15px;
  padding-left: 15px;
  clear: both;
  width: 150px;
}

.block ul {
  list-style: none;
  padding-left: 10px;
  font-size: 12px;
  width: 119px;
}

.block li {
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 1px dotted #690;
}

.block a {
  color: #690;
  text-decoration: none;
}

.block a:hover {
  color: #9c3;
}

#footernav a {
  color: #666;
  text-decoration: none;
}

#footernav a:visited {
  color: #666;
  text-decoration: none;
}

#footernav a:hover {
  color: #9c3;
  text-decoration: underline;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

td {
  font-size: 12px;
  text-align: justify;
}

a {
  color: #693;
  text-decoration: underline;
}

a:visited {
  color: #390;
  text-decoration: none;
}

a:hover {
  color: #9c3;
  text-decoration: none;
}

.date {
 font-size: 10px;
 color: #aaa;
}

