/* Configure source file for the server: jini.remote.Server */

import com.sun.jini.config.*;
import net.jini.core.discovery.*;
import net.jini.discovery.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;

import java.rmi.*;

DiscoveryListener {

  // Codebase
  codebase = ConfigUtil.concat(
	new String[]{"http://", ConfigUtil.getHostName(), ":${port}/"});

  // Security policy
//  policy = "${security}${/}allPerm.policy";

  // Groups to join
  groups = new String[] {ch.iserver.ace.net.jdiscovery.Constants.ACE_GROUP};

  // Unicast lookup services
  locators = new LookupLocator[]{new LookupLocator(ch.iserver.ace.net.jdiscovery.Constants.LS_ADDRESS)};

  // Service ID file name
  serviceIdFile = new String("DiscoveryListener.id");

  // Discovery Listener implementation
  discoveryListener = new ch.iserver.ace.net.jdiscovery.DiscoveryListenerImpl();

  // RMI exporter. Select one of:
  //   - net.jini.jrmp.JrmpExporter();
  exporter = new net.jini.jrmp.JrmpExporter();
  //   - net.jini.iiop.IiopExporter();
  //   - net.jini.jeri.JeriExporter();
//  exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), 
//                                   new BasicILFactory());
//                                   new jini.remote.TimeILFactory());

}

