import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start {
    private static codebase = "http://localhost:8081/reggie-dl.jar";
    private static policy = "/Users/lukaszbinden/eclipse-workspace/Jini/build/classes/peer/reggie.policy";
    private static classpath = "/usr/local/jini/current/lib/reggie.jar";
    private static config = "/Users/lukaszbinden/eclipse-workspace/Jini/build/classes/peer/transient-reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
                new NonActivatableServiceDescriptor(
                        "", 
                        policy, 
                        "/usr/local/jini/current/lib/tools.jar",
                        "com.sun.jini.tool.ClassServer",
                         new String[] {"-port", "8081", "-dir",  "/usr/local/jini/current/lib", "-verbose" }),
				new NonActivatableServiceDescriptor(
                        "", 
                        policy, 
                        "/usr/local/jini/current/lib/tools.jar",
                        "com.sun.jini.tool.ClassServer",
                         new String[] {"-port", "5000", "-dir",  "/Users/lukaszbinden/eclipse-workspace/Jini/build/classes/peer", "-verbose" }),                         
                new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "com.sun.jini.reggie.TransientRegistrarImpl",
                         new String[] { config })
    };
}
