import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start {
    private static codebase = "http://192.168.1.100:5000/reggie-dl.jar";
    private static policy = "/Users/lukaszbinden/eclipse-workspace/ACE-Jini/build/classes/peer/reggie.policy";
    private static classpath = "/usr/local/jini/current/lib/reggie.jar";
    private static config = "/Users/lukaszbinden/eclipse-workspace/ACE-Jini/build/classes/peer/transient-reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
                new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "com.sun.jini.reggie.TransientRegistrarImpl",
                         new String[] { config })
    };
}
